<% if notice.present? %>
  <div class="flash-notice">
    <span><%= notice %></span>
  </div>
<% end %>

<% if alert.present? %>
  <div class="flash-alert">
    <span><%= alert %></span>
  </div>
<% end %>

