<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <%= link_to root_path do %>
      <%= image_tag 'sprky-logo-white.png' %>
    <% end %>
  </div>
    <div class="footer-secondary-links">
      <ul class="footer-social">
        <li><a href="https://github.com/sprky/sprky_chess">
          <%= image_tag 'github-mark-white.png' %>
        </a></li>
      </ul>
    </div>
</footer>
