<div class='game-turn-message'><%= message(@game) %></div>
<div class='game-container'>
	<div class="game-content">
    <h1><%= @game.name %></h1>
    <%= render 'shared/gameboard' %>
  </div>
</div>
