$base-spacing: 1.5em !default;
$alert-color: lighten($red, 30%) !default;
$error-color: #fbe3e4 !default;
$notice-color: lighten($primary-color, 30%) !default;
$success-color: #e6efc2 !default;

@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-family: $sans-serif-font;
  font-weight: 700;
  margin-bottom: 0;
  padding: $base-spacing / 2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}
