// Place all the styles related to the Games controller here.
// Include in application.scss
// You can use Sass (SCSS) here: http://sass-lang.com/


.game-container {
  @include outer-container;
}

.game-content {
  @include fill-parent;
  text-align: center;
  padding: 1em 0 4em 0;
  h1 {
    font-size: 2.5em;
  }
  button {
    padding: .25em .5em;
    margin: 0;
  }
}

.game-turn-message {
  @extend .flash-notice;
}

#gameboard {
  border-collapse: collapse;
  margin: 0 auto .5em auto;
  padding-top: 40px;
  width: auto;
  border: 2px solid black;

  tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background-image: url('/assets/white-square.jpg');
  }
  tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
    background-image: url('/assets/black-square.jpg');
  }

  tr, td {
    border: 1px solid black;
  }

  td {
    width: 60px;
    height: 60px;
    padding: 0;
    &:hover {
      border: 2px solid $primary-color !important;
    }
    &.piece-selected {
      border: 2px solid $primary-color !important;

      &.select-destination {
        border: none;
      }
    }
  }
}

.new-game-container {
  @include outer-container;
}

.new-game-content {
  padding: 4em 2em;
  background-color: $light-gray;
  margin-top: 2em;
  border-radius: $base-border-radius;
  border: 1px solid $medium-gray;
  @include span-columns(10);
  @include shift(1);

  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($large-screen) {
    @include span-columns(6);
    @include shift(3);
  }

  h3 {
    text-align: center;
  }

  input[type="submit"] {
    float: right;
  }
}
