// Place all the styles related to the Games controller here.
// Include in application.scss
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.game-name {
  font-size: 1.5em;
  margin: 0;
}

.games-information {
  @include span-columns(3);
}
.game-container {
  @include span-columns(8);
  /*padding-bottom: 4em;*/
}

#gameboard {
  border-collapse: collapse;
  margin: 0 auto;
  padding-top: 40px;
  background-color: #000000;
  border: 1px solid #000000;
  width: auto;

  tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background: white;
  }

  td {
    width: 60px;
    height: 60px;
    padding: 0;
    &:hover {
      border: 4px solid $blue;
    }
    &.piece-selected {
      background-color: $blue !important;
      &.select-destination {
        border: none;
      }
    }
  }
}
