.top {
  height: 550px;
  background: url('/assets/chess-board-1280x853.jpg');
  background-position: 50% 50%;
  color: white;
  @include media($large-screen) {
    background: url('/assets/chess-board-1920x1280.jpg');
    background-position: 50% 50%;
    height: 650px;
  }
}

hgroup.welcome {
  text-align: center;
  padding-top: 4em;
  position: relative;
  animation: fade-down 1s;

  @include media($large-screen) {
    padding-top: 12em;
  }

  h1 {
    font-weight: 700;
    margin: 0;
    letter-spacing: 3px;
    color: #fff;
  }
  .subheader {
    font-style: italic;
    margin: 0;
    color: #fff;
  }
}

.feature-container {
  @include outer-container;
}

.feature-content {
  padding: 8em 0;
  @include span-columns(8);
  @include shift(2);
  @include media($medium-screen-up) {
    @include span-columns(6);
    @include shift(3);
  }
}

.code-container {
  @include row;
  margin: 0;
  width: 100%;
  background: $light-gray;
  padding: 4em 0 8em 0;
  hgroup {
    text-align: center;
    margin-bottom: 2em;
  } 
}

.code-box-container {
  @include display(flex);
  @include justify-content(center);
  @include align-items(stretch);
  @include flex-wrap(wrap);
  clear: both;
}

.code-example, .code-description {
  @include transition (all 0.2s ease-in-out);
  margin: 0;
  flex: 2 2 36.25em;
  @include align-self(stretch);
  @include media($code-breakpoint-up) {
    &.three {
      @include order(3);
    }
    &.four {
      @include order(4);
    }
  }
}

.code-example {
  background-color: $oil;
  padding: 12% 0;
  position: relative;
}

.code-description {
  background-color: $primary-color;
  padding: 12%;
  margin: 0;
  color: white;
  h4 {
  }
  &.red {
    background-color: $red;
  }
}

.arrow {
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-bottom: -18px;
  background-color: $primary-color;
  transform: rotate(45deg);

  @include media($code-breakpoint-up) {
    top: 50%;
    left: 100%;
    margin-top: -36px;
    margin-left: -18px;
  }

  &.red {
    background-color: $red;
    bottom: 0%;
    margin-top: -18px;
    @include media($code-breakpoint-up) {
      left: 0%;
      top: 50%;
    }
  }
}

.tool-container {
  @include row;
}

.tool-content {
  padding: 8em 0;
  @include span-columns(10);
  @include shift(1);
  hgroup {
    text-align: center;
  }
}


.tool-list {
  margin-left: 1em;
  .tool-title {
    @extend h5;
  }
  .tool-name {
    display: inline-block;
    margin-bottom: 1em;
    @extend p;
  }
}

.team {
  background-color: $light-gray;
}

.team-container {
  @include outer-container;
}

.team-content {
  padding: 4em 0;
  text-align: center;
  @include fill-parent;
  font-size: 1.5em;

  .team-member {
    padding: 2em 0;
    margin-bottom: 1em;
    @include media($large-screen-up) {
      @include span-columns(3);
      margin-bottom: 2em;
    }
    img {
      @include round;
      border: 3px solid #fff;
    }
  }

}











