.container {
	@include outer-container;
}

nav {
	@include span-columns(12);
	background-color: #6666EE;
	height: 2em;

	.navbar-right {
		@include span-columns(6);
		float: right;
	}

	* {
		display: inline-block;
	}

}